@font-face {
  font-family: "Iosevka";
  font-style: normal;
  font-weight: 500;
  src:
    url("fonts/iosevka-custom-regular.woff2") format("woff2"),
    url("fonts/iosevka-custom-regular.ttf") format("truetype");
}

@font-face {
  font-family: "Iosevka medium";
  /* font-style: normal; */
  /* font-weight: 500; */
  src:
    url("fonts/iosevka-custom-medium.woff2") format("woff2"),
    url("fonts/iosevka-custom-medium.ttf") format("truetype");
}

@font-face {
  font-family: "Iosevka light";
  font-style: normal;
  font-weight: 100;
  src:
    url("fonts/iosevka-custom-extendedlight.woff2") format("woff2"),
    url("fonts/iosevka-custom-extendedlight.ttf") format("truetype");
}

@font-face {
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  src: url("https://mdn.github.io/web-fonts/LatoReg.ttf");
}

* {
  font-family: "Iosevka", sans-serif;
}

body {
  background-color: #141414;
}

.flex-container-blog img {
  border: 1px solid #cfcccc;
  border-radius: 10px;

  filter: invert(0.95);
}

::selection {
  background: #925d91;
}

.profile {
  width: 90px;
  height: 90px;
  transform: rotate(180deg);
  position: relative;
  float: left;
}

.resume {
  text-align: justify;
}

.title-link {
  font-family: "Iosevka";
  color: #e7cb7b;
  text-decoration: none;
  padding-bottom: 0px;
  border-bottom-style: solid;
  border-bottom-width: 0px;
  width: fit-content;
}

.subtitle {
  margin: 1em 0em;
  font-family: "Iosevka light";
  font-size: 13px;
}

a {
  color: #f6a2b0;
  text-decoration: none;
  padding-bottom: 2px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  width: fit-content;
}

a:hover {
  color: #e6dcbc;
}

p,
ul {
  color: #e8e8e8;
  font-size: 16px;
  margin: 0;
  letter-spacing: 0.2px;
  line-height: 1.4rem;
}

li {
  margin: 10px;
}

h1 {
  font-size: 20px;
}

h1,
h2,
h3,
h4,
h5 {
  color: #dcb2a8 !important;
}

.blog-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.blog-li {
  font-family: "Iosevka";
  font-size: 14px;
  color: #ede7dd;
  margin-top: 1em;
}

pre {
  scrollbar-width: thin;
  scrollbar-color: rgba(100, 63, 103, 0.5) transparent;
  /* background-color: #0f0f0f !important; */
  background-color: #1c1c1c !important;
  /* background-color: #ffffff !important; */
  border-radius: 6px;
  /* border-color: #424242 !important; */
  border-top: 2px solid #2d2d2d;
  /* border-top: 1px solid #000000; */
  border-right: 1px solid #2d2d2d;
  /* border-right: 1px solid #000000; */
  border-left: 2px solid #2d2d2d;
  /* border-left: 1px solid #000000; */
  border-bottom: 1px solid #2d2d2d;
  /* border-bottom: 1px solid #000000; */
  box-shadow: 6px 5px #000000;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

code {
  padding-left: 5px;
  margin: 10px 8px 8px 3px !important;
  /* background-color: #0f0f0f !important; */
  background-color: #1c1c1c !important;
  overflow-y: hidden;
}

pre table td {
  padding: 0;
}

/* numbers in code block */
td:first-child {
  width: 20px;
  color: #696969;
}

/* Style for the code column */
pre table td:nth-child(2) {
  white-space: pre;
}

/* Ensure code respects indentation */
pre table td:nth-child(2) code {
  display: block;
  tab-size: 4;
  -moz-tab-size: 4;
}

span {
  font-size: 15.4px;
}

table {
  table-layout: fixed;
  width: 100%;
}

td {
  max-width: 100px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* .title{ */
/*   margin: 0; */
/*   color: #ede7dd; */
/*   font-size: 2em; */
/*   flex: 1; */
/* } */

.flex-container-blog {
  align-items: start;
}

.flex-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Ensure the container takes the full viewport height */
  margin: 0;
}

.header,
.content,
.footer {
  width: 60%; /* Make them 100% wide */
}

.header {
  flex: 10%;
  display: flex;
}

.content {
  flex: 80%;
  /* padding: 20px; */
  /* margin-top: 20px; */
}

.footer {
  flex: 10%;
  margin-top: 5%;
}

.title {
  font-family: "Iosevka";
  font-size: 30px;
  flex: 30%;
  display: flex;
  align-items: center; /* Center title content vertically */
}

.menu {
  flex: 70%;
  display: flex;
  align-items: center; /* Center menu content vertically */
  margin-left: 10%;
}

.menu-item {
  font-family: "Iosevka" !important;
  margin-right: 15px;
}

/* Media query for screens with a maximum width of 600px (mobile) */
@media (max-width: 600px) {
  .header,
  .content,
  .footer {
    width: 95%; /* Set width to 100% for mobile view */
  }
  p {
    font-size: 15px;
    letter-spacing: 0.3px;
    line-height: 1.65rem;
  }

  .footer p {
    font-size: 10px;
  }

  figure {
    margin: 5%;
  }

  img {
    width: 95%;
  }

  span {
    font-size: 13px;
  }
}
/* .content { */
/*   list-style: none; */
/*   align-items: start; */
/*   flex-direction: row; */
/*   flex: 4; */
/* } */

/* .header { */
/*   display: flex; */
/*   align-items: center; */
/*   flex-direction: row; */
/*   justify-content: flex-start; */
/* } */
/**/
/* .footer { */
/*   padding-top: 30px; */
/*   margin-top: auto; */
/*   padding-bottom: 22px; */
/* } */

.footer p {
  font-family: "Iosevka light" !important;
  font-size: 12px;
}

hr {
  border: 1px solid #ede7dd;
  border-radius: 5px;
}
.row {
  width: 100%;
}

/* .menu { */
/*   width: 200px; */
/*   height: 150px; */
/*   margin: 10px 10em; */
/*   line-height: 150px; */
/*   font-size: 1em; */
/*   text-align: left; */
/*   flex: 6; */
/* } */
